.vscode/
stockfish/
cutechess/
cutechess/build/
.cursorignore
Engine/chess_interactive
Engine/interactive.cpp
Engine/Makefile
Engine/README.md
Week2/__pycache__
Engine/readme.md
Engine/test_vs_stockfish_*